.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.menu{
  display: flex;
  justify-content: center;

  padding: 10px;
  gap: 10px;
}

button{
  all: unset;
  border: 1px solid var(--color);
  padding: 6px;
  border-radius: 8px;
  transition: 0.2s;

  &:hover{
    cursor: pointer;
    color: var(--bg-color);
    background: var(--color);
    border-color: var(--bg-color);
  }
}

h1 {
  margin-bottom: 30px;
}

/* Add your styles */